#greeting {
  background-color: orangered;
  height: 300px;
  color: white;
  text-align: center;
  padding: 120px;
}
#information {
  margin: 120px 80px 150px 80px;
}
#inforImg {
  float: left;
  vertical-align: middle;
}
#inforText {
  word-break: break-all;
  position: relative;
  left: 260px;
  border-style: solid;
  border-width: 0 0 0 6px;
  width: 70%;
  height: 180px;
  padding: 10px;
  border-color: orangered;
}

.certificate {
  margin: 80px;
  color: orangered;
  text-align: center;
}
ul {
  float: left;
  margin-right: 500px;

  margin-left: auto;
  text-align: center;
}
